{% extends 'base.html' %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
    </nav>
</header>
<main id="DetailsContent">
        <h1>{{ recipe_object.title }} </h1>
        <p>
            <img
        src="{{ recipe_object.picture }}">
        </p>
        <div>4.3 Stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
        <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:"F j Y" }}</p>
                <img src="{{ recipe.picture }}">
                <div>4.3 Stars</div>
            </div>
            {% endfor %}
        </div>
</main>
{% endblock content %}
{% load static %}





<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' recipe_object.id %}">Edit Recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }} </h1>
        <p>
            <img
            src="{{ recipe_object.picture }}">
        </p>
        <div>4.3 Stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 Cup</td>
                    <td>Green Beans</td>
                </tr>
                <tr>
                    <td>3 Ears</td>
                    <td>Fresh Corn</td>
                </tr>
                <tr>
                    <td>2 Cups</td>
                    <td>Tomatillo Salsa</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Corn Tortillas</td>
                </tr>
                <tr>
                    <td>0.5 Cups</td>
                    <td>Cotija Cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and the ears of corn</li>
            <li>Chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa, and cheese</li>
        </ol>
    <div class="recipe-grid">
            {% for recipe in recipe_list %}
            <div>
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p>{{ recipe.created_on|date:"06/11/24" }}</p>
                <img src="{{ recipe.picture }}">
                <div>4.3 Stars</div>
            </div>
            {% endfor %}
    </div>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html> -->
