{% extends 'base.html' %}

{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'my_recipe_list' %}">My Recipes</a>
        {% if user.is_authenticated %}
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
            <p id="Logout">
                <a href="{% url 'user_logout' %}">Logout</a>
            </p>
            <p id="Greeting">Hello, {{ user.username }}</p>
        {% else %}
            <a href="{% url 'signup' %}">Sign Up</a>
            <a href="{% url 'user_login' %}">Login</a>
        {% endif %}

    </nav>
</header>
<main>
    <h1>Scrumptious Recipes</h1>
    <section>
        <h2>All The Food That's Fit To Eat</h2>
    </section>

<div class="recipe-grid">
    {% for recipe in recipe_list %}
    <div id="RecipeContent">
        <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
        </h3>
        <p>{{ recipe.created_on|date:"j F Y" }}</p>
        <img src="{{ recipe.picture }}">
        <div>4.3 Stars</div>
    </div>
    {% endfor %}
</div>
</main>
{% endblock content %}
{% load static %}




<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <!-- <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'create_recipe' %}">Create Recipe</a>
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <section>
            <h2>All The Food That's Fit To Eat</h2>
        </section>

    <div class="recipe-grid">
        {% for recipe in recipe_list %}
        <div>
            <h3>
                <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"j F Y" }}</p>
            <img src="{{ recipe.picture }}">
            <div>4.3 Stars</div>
        </div>
        {% endfor %}
    </div>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html> -->
