body {
    margin: 0;
    color: rgb(240, 52, 193);
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    padding: 1px;
    color: rgb(35, 110, 60);
    background-color: rgb(220, 230, 218);
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    color: rgb(35, 110, 60);
    background-color: rgb(192, 223, 185);
    text-align: center;
}

img {
    height: 250px;
    color: rgb(35, 110, 60);
    margin: 5% 5% 5% 5%;
    box-shadow: 0 10px 20px rgba(28, 24, 24, 0.89);
}

nav {
    color: rgb(35, 110, 60);
    border-bottom: 1px solid rgb(20, 87, 20);
    padding: 16px;
    background-color: rgb(192, 223, 185);
}

nav a {
    color: rgb(35, 110, 60);
}

nav a + a {
    margin-left: 1em;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: rgb(35, 110, 60);
    padding-bottom: 20px;
    text-align: center;
}
a {
    text-decoration: none;
    color: rgb(35, 110, 60);
}

tbody > :nth-child(even) {
    background-color: rgb(228, 231, 233);
}

#header-text {
    color: rgb(35, 110, 60);
}

h1 {
    text-align: center;
    font-size: 35px;
}

h2 {
    text-align: center;
}

#Greeting {
    float: right;
    margin: auto;
    font-size: 16px;
    padding-right: 1em;
}

#Logout {
    float: right;
    margin: auto;
    padding-right: 1em;
}

h3 {
    float: center;
}

#RecipeContent {
    text-align: center;
}

#DetailsContent {
    text-align: center;
}

#EditContent {
    text-align: left;
}

form > p {
}

@media (max-width: 1200px) {
    .recipe-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .recipe-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .recipe-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
